*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
/* Dev */


a:hover{
    color:aliceblue;
}


/* Dep */

header {
    top: 0;
    width: 100%;
    position:fixed;
    background-color: rgba(42, 74, 70);
    z-index: 20;
    & nav{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        height: 50px;

        & h1{
            font-size: 25px;
        }

        & a{
            text-decoration: none;
            color: white;
            transition: color 0.5s ease, text-dectoration 0.5s ease;
            font-size: 20px;

            &:hover{
                color:gold;
            }
        }
    }
}

section.Front{

    margin-top: 50px;
    height: 39vh;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: -1;
    background-color: rgb(230, 245, 220) ;
    & div{
        height: auto;
        padding: 1rem;
        margin: 1rem;
        gap: 14px;
        opacity: 100%;
        background-color: white;

        & h3{
            justify-self: center;
            font-size: 40px;
        }
     }
}

    & section.button{
        display: flex;
        justify-content: space-evenly;
        outline: 10px;
        background-color: rgba(42, 74, 70);
        outline: 2px solid;
        padding: 20px;
        z-index: 2;
        height: 80px;
        & button{
            display: flex;
            justify-content: center;
            padding: 20px 30px;
            border-radius: 5px ;
            border-color: white;
            width: 20%;
            transition: 0.32s ease-out;
            font-size: 2rem;
            background-color: rgba(42, 74, 70);
            border-color: white;
            color: rgb(255, 255, 255);

            &:hover{
                transform: scale(110%) translateY(-4px);
                box-shadow: black 0px 15px 15px -7px;
            }
        }
    }



