*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
/* Dev */


a:hover{
    color:aliceblue;
}

section.Education,
section.Education*{
    outline: 5px solid;
}

header {
    top: 0;
    width: 100%;
    position:fixed;
    background-color: rgba(42, 74, 70);
    z-index: 20;
    & nav{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        height: 50px;

        & h1{
            font-size: 25px;
            color: white;
        }

        & a{
            text-decoration: none;
            color: white;
            transition: color 0.5s ease, text-dectoration 0.5s ease;
            font-size: 20px;

            &:hover{
                color:gold;
            }
        }
    }
}


section.Front{
       margin-top: 50px;
       height: 39vh;
       width: 100%;
       padding: 0;
       display: flex;
       align-items: center;
       justify-content: center;
       text-align: center;
       z-index: -1;
       background-color: rgb(230, 245, 220) ;
       & div{
       height: auto;
           padding: 1rem;
           margin: 1rem;
           gap: 14px;
           opacity: 100%;
           background-color: white;
   
       & h3{
               justify-self: center;
               font-size: 40px;
       }
    }
}

& section.Row{
    display: flex;
    justify-content: space-evenly;
    outline: 10px;
    background-color: rgba(42, 74, 70);
    outline: 2px solid;
    padding: 20px;
    z-index: 2;
    height: 70px;
}

section.Education{
    height: 80px;
    display: flex;
    width: auto;
    flex-direction: column;
    padding: 1rem 2rem;

    
    & h1{
        color: rgb(34, 139, 34);
        font-size: 25px;
        padding: 10px;
    }
    
    & h2{
        font-size: 40px;
        align-self:center;
        font-weight: normal;
        padding-bottom: 10px;
        padding-top: 15px;
    }

    & h3{
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 35px;
    }
    & p{
        color: rgb(34, 139, 34);
        padding-bottom:  10px;
        padding-left: 10px;
        font-size: 20px;
    }
    & div div{
        font-size: 12px;
        padding: 10px 1rem;
        outline: solid;
        background-color: rgb(230, 245, 220) ;
        }
    }
